/* You can add global styles to this file, and also import other style files */
footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0; /* Opcional: para darle un poco de espacio vertical */
  }